# env
.DS_Store
*.bak
*.backup
_tmp/
.tmp/

# zsh
.zcompdump*
.zsh_sessions
local.zsh
*.zwc

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
